# Exercício

Construa um programa que:
 - Pergunte a usuária 2 números inteiros;
 - Crie uma lista numérica do intervalo;
 - Se o número for divisível por 3, substitua-o por "Tecnologia";
 - Se o número for divisível por 5, substitua-o por "Cívica";
 - Se o número for divisível por 3 e 5, substitua-o por "Tecnologia Cívica".

In [1]:
dict_a = {'a':1,'b':2,'c':3}

In [2]:
list(dict_a)

['a', 'b', 'c']

In [5]:
list(dict_a)[0]

'a'

In [8]:
dict_a['b']

2

In [1]:
num1 = int(input('Informe um número inteiro:'))

Informe um número inteiro:27

In [2]:
num2 = int(input('Informe um número inteiro:'))

Informe um número inteiro:55

In [3]:
lista_numerica = []

In [4]:
for n in range(num1, num2):
    if n % 3 == 0 and n % 5 == 0:
        lista_numerica.append('Tecnologia Cívica')
    elif n % 3 == 0:
        lista_numerica.append('Tecnologia')
    elif n % 5 == 0:
        lista_numerica.append('Cívica')
    else:
        lista_numerica.append(n)

In [5]:
lista = list(range(num1, num2))
lista

[27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54]

In [6]:
lista_numerica

['Tecnologia',
 28,
 29,
 'Tecnologia Cívica',
 31,
 32,
 'Tecnologia',
 34,
 'Cívica',
 'Tecnologia',
 37,
 38,
 'Tecnologia',
 'Cívica',
 41,
 'Tecnologia',
 43,
 44,
 'Tecnologia Cívica',
 46,
 47,
 'Tecnologia',
 49,
 'Cívica',
 'Tecnologia',
 52,
 53,
 'Tecnologia']

### Fazendo o mesmo exerício, porém utilizando funções para substituir os valores na lista

In [1]:
num3 = int(input('Informe um valor inteiro:'))

Informe um valor inteiro:33

In [2]:
num4 = int(input('Informe outro valor inteiro:'))

Informe outro valor inteiro:155

In [3]:
lista_numerica2 = list(range(num3, num4))

In [4]:
lista_numerica2

[33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154]

In [5]:
for n in lista_numerica2:
    pos = lista_numerica2.index(n)
    #print(pos)
    if n % 3 == 0 and n % 5 == 0:
        lista_numerica2.pop(pos)
        lista_numerica2.insert(pos,'Tecnologia Cívica')
    elif n % 3 == 0:
        lista_numerica2.pop(pos)
        lista_numerica2.insert(pos,'Tecnologia')
    elif n % 5 == 0:
        lista_numerica2.pop(pos)
        lista_numerica2.insert(pos,'Cívica')

In [6]:
lista_numerica2

['Tecnologia',
 34,
 'Cívica',
 'Tecnologia',
 37,
 38,
 'Tecnologia',
 'Cívica',
 41,
 'Tecnologia',
 43,
 44,
 'Tecnologia Cívica',
 46,
 47,
 'Tecnologia',
 49,
 'Cívica',
 'Tecnologia',
 52,
 53,
 'Tecnologia',
 'Cívica',
 56,
 'Tecnologia',
 58,
 59,
 'Tecnologia Cívica',
 61,
 62,
 'Tecnologia',
 64,
 'Cívica',
 'Tecnologia',
 67,
 68,
 'Tecnologia',
 'Cívica',
 71,
 'Tecnologia',
 73,
 74,
 'Tecnologia Cívica',
 76,
 77,
 'Tecnologia',
 79,
 'Cívica',
 'Tecnologia',
 82,
 83,
 'Tecnologia',
 'Cívica',
 86,
 'Tecnologia',
 88,
 89,
 'Tecnologia Cívica',
 91,
 92,
 'Tecnologia',
 94,
 'Cívica',
 'Tecnologia',
 97,
 98,
 'Tecnologia',
 'Cívica',
 101,
 'Tecnologia',
 103,
 104,
 'Tecnologia Cívica',
 106,
 107,
 'Tecnologia',
 109,
 'Cívica',
 'Tecnologia',
 112,
 113,
 'Tecnologia',
 'Cívica',
 116,
 'Tecnologia',
 118,
 119,
 'Tecnologia Cívica',
 121,
 122,
 'Tecnologia',
 124,
 'Cívica',
 'Tecnologia',
 127,
 128,
 'Tecnologia',
 'Cívica',
 131,
 'Tecnologia',
 133,
 134,
 'Tecnologia Cívica',
 136,
 137,
 'Tecnologia',
 139,
 'Cívica',
 'Tecnologia',
 142,
 143,
 'Tecnologia',
 'Cívica',
 146,
 'Tecnologia',
 148,
 149,
 'Tecnologia Cívica',
 151,
 152,
 'Tecnologia',
 154]

In [7]:
lista_numerica_pos_valor = []

In [8]:
pos = lista_numerica2.index('Tecnologia')
pos

0

In [9]:
count = 0
for i in lista_numerica2:
    dict_pos_value = dict(zip(['Posição','Valor'],[count, i]))
    count = count + 1
    lista_numerica_pos_valor.append(dict_pos_value)

In [10]:
lista_numerica_pos_valor

[{'Posição': 0, 'Valor': 'Tecnologia'},
 {'Posição': 1, 'Valor': 34},
 {'Posição': 2, 'Valor': 'Cívica'},
 {'Posição': 3, 'Valor': 'Tecnologia'},
 {'Posição': 4, 'Valor': 37},
 {'Posição': 5, 'Valor': 38},
 {'Posição': 6, 'Valor': 'Tecnologia'},
 {'Posição': 7, 'Valor': 'Cívica'},
 {'Posição': 8, 'Valor': 41},
 {'Posição': 9, 'Valor': 'Tecnologia'},
 {'Posição': 10, 'Valor': 43},
 {'Posição': 11, 'Valor': 44},
 {'Posição': 12, 'Valor': 'Tecnologia Cívica'},
 {'Posição': 13, 'Valor': 46},
 {'Posição': 14, 'Valor': 47},
 {'Posição': 15, 'Valor': 'Tecnologia'},
 {'Posição': 16, 'Valor': 49},
 {'Posição': 17, 'Valor': 'Cívica'},
 {'Posição': 18, 'Valor': 'Tecnologia'},
 {'Posição': 19, 'Valor': 52},
 {'Posição': 20, 'Valor': 53},
 {'Posição': 21, 'Valor': 'Tecnologia'},
 {'Posição': 22, 'Valor': 'Cívica'},
 {'Posição': 23, 'Valor': 56},
 {'Posição': 24, 'Valor': 'Tecnologia'},
 {'Posição': 25, 'Valor': 58},
 {'Posição': 26, 'Valor': 59},
 {'Posição': 27, 'Valor': 'Tecnologia Cívica'},
 {'Posição': 28, 'Valor': 61},
 {'Posição': 29, 'Valor': 62},
 {'Posição': 30, 'Valor': 'Tecnologia'},
 {'Posição': 31, 'Valor': 64},
 {'Posição': 32, 'Valor': 'Cívica'},
 {'Posição': 33, 'Valor': 'Tecnologia'},
 {'Posição': 34, 'Valor': 67},
 {'Posição': 35, 'Valor': 68},
 {'Posição': 36, 'Valor': 'Tecnologia'},
 {'Posição': 37, 'Valor': 'Cívica'},
 {'Posição': 38, 'Valor': 71},
 {'Posição': 39, 'Valor': 'Tecnologia'},
 {'Posição': 40, 'Valor': 73},
 {'Posição': 41, 'Valor': 74},
 {'Posição': 42, 'Valor': 'Tecnologia Cívica'},
 {'Posição': 43, 'Valor': 76},
 {'Posição': 44, 'Valor': 77},
 {'Posição': 45, 'Valor': 'Tecnologia'},
 {'Posição': 46, 'Valor': 79},
 {'Posição': 47, 'Valor': 'Cívica'},
 {'Posição': 48, 'Valor': 'Tecnologia'},
 {'Posição': 49, 'Valor': 82},
 {'Posição': 50, 'Valor': 83},
 {'Posição': 51, 'Valor': 'Tecnologia'},
 {'Posição': 52, 'Valor': 'Cívica'},
 {'Posição': 53, 'Valor': 86},
 {'Posição': 54, 'Valor': 'Tecnologia'},
 {'Posição': 55, 'Valor': 88},
 {'Posição': 56, 'Valor': 89},
 {'Posição': 57, 'Valor': 'Tecnologia Cívica'},
 {'Posição': 58, 'Valor': 91},
 {'Posição': 59, 'Valor': 92},
 {'Posição': 60, 'Valor': 'Tecnologia'},
 {'Posição': 61, 'Valor': 94},
 {'Posição': 62, 'Valor': 'Cívica'},
 {'Posição': 63, 'Valor': 'Tecnologia'},
 {'Posição': 64, 'Valor': 97},
 {'Posição': 65, 'Valor': 98},
 {'Posição': 66, 'Valor': 'Tecnologia'},
 {'Posição': 67, 'Valor': 'Cívica'},
 {'Posição': 68, 'Valor': 101},
 {'Posição': 69, 'Valor': 'Tecnologia'},
 {'Posição': 70, 'Valor': 103},
 {'Posição': 71, 'Valor': 104},
 {'Posição': 72, 'Valor': 'Tecnologia Cívica'},
 {'Posição': 73, 'Valor': 106},
 {'Posição': 74, 'Valor': 107},
 {'Posição': 75, 'Valor': 'Tecnologia'},
 {'Posição': 76, 'Valor': 109},
 {'Posição': 77, 'Valor': 'Cívica'},
 {'Posição': 78, 'Valor': 'Tecnologia'},
 {'Posição': 79, 'Valor': 112},
 {'Posição': 80, 'Valor': 113},
 {'Posição': 81, 'Valor': 'Tecnologia'},
 {'Posição': 82, 'Valor': 'Cívica'},
 {'Posição': 83, 'Valor': 116},
 {'Posição': 84, 'Valor': 'Tecnologia'},
 {'Posição': 85, 'Valor': 118},
 {'Posição': 86, 'Valor': 119},
 {'Posição': 87, 'Valor': 'Tecnologia Cívica'},
 {'Posição': 88, 'Valor': 121},
 {'Posição': 89, 'Valor': 122},
 {'Posição': 90, 'Valor': 'Tecnologia'},
 {'Posição': 91, 'Valor': 124},
 {'Posição': 92, 'Valor': 'Cívica'},
 {'Posição': 93, 'Valor': 'Tecnologia'},
 {'Posição': 94, 'Valor': 127},
 {'Posição': 95, 'Valor': 128},
 {'Posição': 96, 'Valor': 'Tecnologia'},
 {'Posição': 97, 'Valor': 'Cívica'},
 {'Posição': 98, 'Valor': 131},
 {'Posição': 99, 'Valor': 'Tecnologia'},
 {'Posição': 100, 'Valor': 133},
 {'Posição': 101, 'Valor': 134},
 {'Posição': 102, 'Valor': 'Tecnologia Cívica'},
 {'Posição': 103, 'Valor': 136},
 {'Posição': 104, 'Valor': 137},
 {'Posição': 105, 'Valor': 'Tecnologia'},
 {'Posição': 106, 'Valor': 139},
 {'Posição': 107, 'Valor': 'Cívica'},
 {'Posição': 108, 'Valor': 'Tecnologia'},
 {'Posição': 109, 'Valor': 142},
 {'Posição': 110, 'Valor': 143},
 {'Posição': 111, 'Valor': 'Tecnologia'},
 {'Posição': 112, 'Valor': 'Cívica'},
 {'Posição': 113, 'Valor': 146},
 {'Posição': 114, 'Valor': 'Tecnologia'},
 {'Posição': 115, 'Valor': 148},
 {'Posição': 116, 'Valor': 149},
 {'Posição': 117, 'Valor': 'Tecnologia Cívica'},
 {'Posição': 118, 'Valor': 151},
 {'Posição': 119, 'Valor': 152},
 {'Posição': 120, 'Valor': 'Tecnologia'},
 {'Posição': 121, 'Valor': 154}]